.container{
    background-color: rgb(223, 212, 167);
    margin: auto;
    width: 70%;
    min-height: 100vh;
    padding: 1% 2%;
}
.container >h1{
    text-align: center;
}

.container >form{
    display: flex;
    flex-direction: column;
    padding: 1% 0%;
    margin: 2% 1%;
    box-sizing: border-box;

}

.container >form >
input,
textarea,
button{
padding: 20px 20px;
border: 1px solid rgba(36, 30, 30, 0.338);
border-radius: 5px;
font-size: 1rem;
}
button{
    border: none;
    background-color: rgb(32, 26, 26);
    color: white;
    cursor: pointer;
    margin: 1% 0;
}
input{
    margin: 1% 0;
}